body{
    color: aliceblue;
    font-family: 'Jaro', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.course-title{
    font-size: 1.75rem;
    display: flex;
}

.course-title-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden-back{
    visibility: hidden;
}

.attendance-box{
    background-color: #272727;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    min-width: 330px;
    border-radius: 20px;
}

.attendance-box h2{
    font-size: 1.25rem;
}

.attendance-content{
    display: flex;;
    margin-top: 1rem;
    gap: 3rem;
}

.attendance-progress{
    background-color: #165863;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.attendance-data{
    font-size: 1.15rem;
}

.miss-box{
    background-color: #272727;
    font-size: 1.2rem;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    min-width: 330px;
    border-radius: 20px;
}

.score-box{
    background-color: #272727;
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    width: 330px;
    border-radius: 20px;
}

.score-box h2{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.score-content{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-scores{
    margin-left: 1.5rem;
    gap: 1rem;
    margin-top: 0.5rem;
}

.total-score{
    font-size: 1.7rem;
    margin-right: 1rem;
}

.presents{
    display: flex;
    align-items: center;
}

.presents-btn{
    display: flex;
    gap: 2rem;
}

.presents .mark{
    background-color: green;
    border-radius: 5px;
    /* padding: 0, 5px; */
}

.presents button{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.presents .unmark{
    background-color: red;
    border-radius: 5px;
}

.absents{
    display: flex;
    align-items: center;
}

.absents h1{
    margin-right: 1.9rem;
}

.absents-btn{
    display: flex;
    gap: 2rem;
}

.absents .mark{
    background-color: green;
    /* padding: 0, 5px; */
    border-radius: 5px;
}

.absents button{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.absents .unmark{
    background-color: red;
    border-radius: 5px;
}

.submit button{
    font-size: 1rem;
    margin-top: 0.5rem;
    /* margin-bottom: 0.2rem; */
    background-color: #165863;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 1px 3px #000000;
}

.shadow{
    box-shadow: 2px 2px 6px #000000;
}